﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DashboardUI.aspx.cs" Inherits="StockManagementSystemWebApp.UI.HomeUI" %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Stock Management System</title>
  <link href="../Public/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../Public/Assets/css/fonts.googleapis.css" rel="stylesheet" />
  <link href="../Public/Assets/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">
<form id="dashboard" runat="server">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
        <asp:HyperLink CssClass="sidebar-brand d-flex align-items-center justify-content-center" NavigateUrl="HomeUI.aspx" runat="server">
            <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Unlimited</div>
        </asp:HyperLink>
      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
          <asp:HyperLink CssClass="nav-link" ID="HyperLink1" NavigateUrl="Dashboard.aspx" runat="server">
              <i class="fas fa-fw fa-tachometer-alt"></i><span>Dashboard</span>
          </asp:HyperLink>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        STOCK MANAGEMENT SYSTEM
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
        <!-- Nav Item - Utilities Collapse Menu -->
     

      <li class="nav-item">
          
          <asp:HyperLink CssClass="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" ID="HyperLink2" runat="server">
              <i class="fas fa-fw fa-cog"></i><span>Category</span>
          </asp:HyperLink>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Category Details</h6>
              <asp:HyperLink CssClass="collapse-item" ID="HyperLink3" NavigateUrl="../UI/Category/CreateUI.aspx" runat="server">
                  Create
              </asp:HyperLink>
              <asp:HyperLink CssClass="collapse-item" NavigateUrl="../UI/Category/IndexUI.aspx" ID="HyperLink4" runat="server">Show Category</asp:HyperLink>
          </div>
        </div>
      </li>
        
        <li class="nav-item">
          
          <asp:HyperLink CssClass="nav-link collapsed" href="#" data-toggle="collapse" data-target="#company" aria-expanded="true" aria-controls="collapseTwo" ID="HyperLink5" runat="server">
              <i class="fas fa-fw fa-cog"></i><span>Company</span>
          </asp:HyperLink>

        <div id="company" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Company Details</h6>
              <asp:HyperLink CssClass="collapse-item" ID="HyperLink6" NavigateUrl="../UI/Company/CreateUI.aspx" runat="server">
                  Create
              </asp:HyperLink>
              <asp:HyperLink CssClass="collapse-item" NavigateUrl="../UI/Company/IndexUI.aspx" ID="HyperLink7" runat="server">
                  Show Company
              </asp:HyperLink>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Control Stock In And Stock Out
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#item" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Item</span>
        </a>
        <div id="item" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Item Details</h6>
              <asp:HyperLink CssClass="collapse-item" NavigateUrl="../UI/Item/createUI.aspx" ID="HyperLink8" runat="server">
                  Create
              </asp:HyperLink>
              <asp:HyperLink CssClass="collapse-item" NavigateUrl="../UI/Item/indexUI.aspx" ID="HyperLink9" runat="server">
                  Item Details
              </asp:HyperLink>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockIn" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Stock In Details</span>
        </a>
        <div id="stockIn" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Stock In</h6>
            <asp:HyperLink CssClass="collapse-item" NavigateUrl="../UI/StockIn/CreateUI.aspx" ID="HyperLink12" runat="server">
                Create
            </asp:HyperLink>
            <asp:HyperLink CssClass="collapse-item" NavigateUrl="../UI/StockIn/IndexUI.aspx" ID="HyperLink13" runat="server">
                StockIn Show
            </asp:HyperLink>

            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Stock Out:</h6>
            <asp:HyperLink CssClass="collapse-item" NavigateUrl="../UI/StockOut/CreateUI.aspx" ID="HyperLink14" runat="server">
                Create
            </asp:HyperLink>
            <asp:HyperLink CssClass="collapse-item" NavigateUrl="../UI/StockOut/IndexUI.aspx" ID="HyperLink15" runat="server">
                StockIn Show
            </asp:HyperLink>
          </div>
        </div>
      </li>
         <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#search" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Search</span>
        </a>
        <div id="search" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Search</h6>
              <asp:HyperLink CssClass="collapse-item" NavigateUrl="../UI/Sell/SearchByDateUI.aspx" ID="HyperLink10" runat="server">
                  Between Today Sell
              </asp:HyperLink>
              <asp:HyperLink CssClass="collapse-item" NavigateUrl="../UI/Sell/SearchUI.aspx" ID="HyperLink11" runat="server">
                 Item Search
              </asp:HyperLink>
          </div>
        </div>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Md.Kamrul Hasan</span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->
          <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Stock In </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Stock Out</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Search</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Company</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are You Sure?</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../Public/Assets/vendor/jquery/jquery.min.js"></script>
  <script src="../Public/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../Public/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../Public/Assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../Public/Assets/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../Public/Assets/js/demo/chart-area-demo.js"></script>
  <script src="../Public/Assets/js/demo/chart-pie-demo.js"></script>
 </form>

</body>

</html>
